/* About Section */
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83ACE6;
    padding: 3rem 0;
}

.about2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    max-width: 80%;
}

.cllLeft img {
    width: 20rem;
    height: auto;
}

.texto {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.texto h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 1rem;
}

.texto p {
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
}

@media (max-width: 768px) {
    .container3 {
        flex-direction: column; /* Empilha os elementos verticalmente */
        gap: 2rem;
    }

    .cllLeft img {
        width: 100%; /* Ajusta a largura da imagem */
        max-width: 300px; /* Define um tamanho máximo */
    }

    .texto {
        text-align: center; /* Centraliza o texto */
    }
}